<br>
<br>
<div class="event-content">
<span class="athlete-name"><%= @event.name %></span>&nbsp; &nbsp; <span class= "athlete-nation">(<%= @event.sport.capitalize %>)</span><br>


<% if @event.athletes.length >= 3 %>

<table class="event-table">
    <tr>
      <b><td><img src="/images/gold-medal-vector.jpg" class="table-medal"></td></b> 
      <b><td><span class="gold">
      <%= @event.athletes[0].first_name %> <%= @event.athletes[0].last_name %>
      </span></td></b>
    </tr>
    <tr>
      <b><td><img src="/images/silver-medal-vector-1.jpg" class="table-medal"></td></b>
      <b><td><span class="silver">
      <%= @event.athletes[1].first_name %> <%= @event.athletes[1].last_name %>
      </span></td></b>
    </tr>
    <tr>
      <b><td><img src="/images/bronze-medal-vector-1.jpg" class="table-medal"></td></b>
      <b><td><span class="bronze">
      <%= @event.athletes[2].first_name %> <%= @event.athletes[2].last_name %>
      </span></td></b>
    </tr>
    <tr>
      <b><td>All participants and <br>finishing positions</td></b>
      <b><td><ul class="participant-list">
      <% count=0 %>
      <% @event.athletes.each do |athlete| %> 
        <li><a href="/athletes/<%= athlete.id  %>"><%= count += 1  %> &nbsp; &nbsp; <%= athlete.first_name %> <%=athlete.last_name  %></a>  &nbsp;(<%=athlete.nation.name  %>) </li><br>
      <% end %></a>
</ul>
</td></b>
</tr>
    </table>

    <% elsif @event.athletes.length >= 1 && @event.athletes.length < 3 %>
    <b>Participants:</b><br><br>
    <% @event.athletes.each do |athlete| %> 
    <a href="/athletes/<%= athlete.id  %>"><%= athlete.first_name %> <%=athlete.last_name  %></a> &nbsp;(<%=athlete.nation.name  %>)<br>
    <% end %>
<% end %>

<br>
<br>
<a href="/events/<%= @event.id %>/edit " class="basic-link">Edit</a>
<br>
<br>

<a href="/participations/new " class="basic-link">Add a participant</a>

<br>
<br>

<a href="/participations" class="basic-link">View participations</a>
<br>
<br>
<form action="/events/<%= @event.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</div>