<br>
<br>
<div class="event-content">
  <span class="athlete-name"><%= @event.name %></span>&nbsp; &nbsp; <span class= "athlete-nation">(<%= @event.sport.capitalize %>)</span><br>
  <br>

  <% if @event.athletes.length >= 3 && @event.results[0]['position'] == '1'%>
  <table class="event-table">
    <tr>
      <td>
        <img src="/images/gold-png.png" class="table-medal">
      </td> 
      <td>
        <span class="gold">
          <a href="/athletes/<%=@event.athletes[0].id%>"><%= @event.athletes[0].first_name %> <%= @event.athletes[0].last_name %></a>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/silver-png.png" class="table-medal">
      </td>
      <td>
        <span class="silver">
          <a href="/athletes/<%=@event.athletes[1].id%>"><%= @event.athletes[1].first_name %> <%= @event.athletes[1].last_name %></a>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <img src="/images/bronze-png.png" class="table-medal">
      </td>
      <td>
        <span class="bronze">
          <a href="/athletes/<%=@event.athletes[2].id%>"><%= @event.athletes[2].first_name %> <%= @event.athletes[2].last_name %></a>
        </span>
      </td>
    </tr>
    <tr>
      <td>All participants and <br>finishing positions</td>
      <td>
        <b class="basic-text"> 
          <% sorted = @event.results.sort_by { |k| k["position"].to_i } %>  
          <% sorted.each do |hash|  %>
          <%= hash['position']  %> - <%= hash['first_name'] %> <%= hash['last_name'] %>
          <br><br>
          <% end %>
        </b>
    <!--   <#% count=0 %>
      <%# @event.athletes.each do |athlete| %> 
        <li><a href="/athletes/<%#= athlete.id  %>"><%#= count += 1  %> &nbsp; &nbsp; <%#= athlete.first_name %> <%#=athlete.last_name  %></a>  &nbsp;(<%#=athlete.nation.name  %>) </li><br>
        <%# end %></a> -->
      </td>
    </tr>
  </table>

  <% elsif @event.athletes.length >= 1%>
  <b class="basic-text">Participants:</b><br><br>
  <% @event.athletes.each do |athlete| %> 
  <a href="/athletes/<%= athlete.id  %>" class="basic-text"><%= athlete.first_name %> <%=athlete.last_name  %></a> &nbsp;(<%=athlete.nation.name  %>)<br>
  <% end %>
  <% end %>

  <br>
  <br>
  <a href="/events/<%= @event.id %>/edit " class="basic-link">Edit</a>
  <br>
  <br>

  <a href="/participations/new " class="basic-link">Add a participant</a>

  <br>
  <br>

  <a href="/participations" class="basic-link">View participations</a>
  <br>
  <br>
  <form action="/events/<%= @event.id  %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
</div>