<h2><%= @event.name %></h2><br>

<b>Sport:</b>  <%= @event.sport.capitalize %></p><br>

<b>Gold medal winner:</b>  <%= @event.gold_medalist.first_name %> <%= @event.gold_medalist.last_name %> <br><br>

<b>Silver medal winner:</b>  <%= @event.silver_medalist.first_name %> <%= @event.silver_medalist.last_name %><br><br>

<b>Bronze medal winner:</b>  <%= @event.bronze_medalist.first_name %> <%= @event.bronze_medalist.last_name %><br><br>

<b>Participants:</b><br>
  <% @event.athletes.each do |athlete| %> 
  <%= athlete.first_name %> <%=athlete.last_name  %> from <%=athlete.nation.name  %><br>
  <% end %>
  </select>
<br>
<a href="/events/<%= @event.id %>/edit ">Edit</a>

<p></p>

<form action="/events/<%= @event.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</div>