<table>
  <thead>
    <tr>
    <b><th>Position</th></b>
      <b><th>Nation</th></b> 
      <b><th><img src="images/gold-png.png" class="table-medal"></th></b>
      <b><th><img src="images/silver-png.png" class="table-medal"></th></b>
      <b><th><img src="images/bronze-png.png" class="table-medal"></th></b>
      <b><th>Points</th></b>
    </tr>
  </thead>
  <tbody>
  <% count=0 %>
  <% standings = @standing.order_by_points %>
  <% standings.each do |country| %>
    <tr>
    <td><%= count += 1  %></td>
      <td><img src="<%= country[:flag] %>" class="wee_flag"%> <a href="/nations/<%=country[:id]%>" class="country"><b><%= country[:name]%></b></a></td> 
      <td><span class="gold"><%= country[:gold_medals]%></span></td> 
      <td><span class="silver"><%= country[:silver_medals]%></span></td> 
      <td><span class="bronze"><%= country[:bronze_medals]%></span></td> 
      <td><span class="points"><%= country[:points]%> </span></td> 
    </tr> 
  <% end %>  

  </tbody>
</table>


