<table>
  <thead>
    <tr>
      <th>Nation</th>
      <th>Gold Medals</th> 
      <th>Silver Medals</th>
      <th>Bronze Medals</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
  <% standings = @standing.order_by_points %>
  <% standings.each do |country| %>
    <tr>
      <td><%= country[:name]%> </td> 
      <td><%= country[:gold_medals]%> </td> 
      <td><%= country[:silver_medals]%> </td> 
      <td><%= country[:bronze_medals]%> </td> 
      <td><%= country[:points]%> </td> 
    </tr> 
  <% end %>  

  </tbody>
</table>


<!-- the above returns me an array of hashes which i want to turn into a nice table.
each hash contains - name, gold_medals, silver_medals, bronze_medals, points. -->

<!-- Use the HTML <table> element to define a table.
Use the HTML <tr> element to define a table row.
Use the HTML <td> element to define a table data.
Use the HTML <th> element to define a table heading. -->