<table>
  <thead>
    <tr>
      <b><th>Nation</th></b> 
      <b><th>Gold Medals</th></b>
      <b><th>Silver Medals</th></b>
      <b><th>Bronze Medals</th></b>
      <b><th>Points</th></b>
    </tr>
  </thead>
  <tbody>
  <% standings = @standing.order_by_points %>
  <% standings.each do |country| %>
    <tr>
      <td><img src="<%= country[:flag] %>" class="wee_flag"%> <a href="/nations/<%=country[:id]%>" class="country"><%= country[:name]%></a></td> 
      <td><span class="gold"><%= country[:gold_medals]%></span></td> 
      <td><span class="silver"><%= country[:silver_medals]%></span></td> 
      <td><span class="bronze"><%= country[:bronze_medals]%></span></td> 
      <td><span class="points"><%= country[:points]%> </span></td> 
    </tr> 
  <% end %>  

  </tbody>
</table>


<!-- the above returns me an array of hashes which i want to turn into a nice table.
each hash contains - name, gold_medals, silver_medals, bronze_medals, points. -->

<!-- Use the HTML <table> element to define a table.
Use the HTML <tr> element to define a table row.
Use the HTML <td> element to define a table data.
Use the HTML <th> element to define a table heading. -->