<div class="event-content">
<h2><%= @nation.name %></h2>

<img src="<%= @nation.flag %>" class="flag">

<b class="athlete-nation">Athletes:</b>
<% @nation.athletes.each do |athlete|  %>
<!-- PUT IT SO YOU CAN CLICK ON THE ATHLETE'S NAME AND LINKS TO THEIR PAGES. -->
  <p><a href="/athletes/<%=athlete.id%>"><%= athlete.first_name %> <%= athlete.last_name  %></a> : &nbsp; 
  <%athlete.events.each do |event|  %>
  <%= event.name  %>.&nbsp;
  <% end %> </p>
  <% end %>
<br>

<table class="athlete-table">
  <tr>
    <td><img src="/images/gold-medal-vector.jpg" class="table-medal"></td>
    <td> <span class="gold"><%= @nation.nation_gold_medals.count  %></span> </td>
    <td><% @nation.athletes.each do |athlete|  %>
    <% athlete.gold_events.each do |gold_event|  %>
    <a href="/events/<%= gold_event.id  %> "><%=gold_event.name  %></a> <br>
    <% end %>
  <% end %> &nbsp; 
    </td>
  </tr>
  <tr>
    <td><img src="/images/silver-medal-vector-1.jpg" class="table-medal"></td>
    <td><span class="silver"><%= @nation.nation_silver_medals.count  %> </span> </td>
      <td><% @nation.athletes.each do |athlete|  %>
      <% athlete.silver_events.each do |silver_event|  %>
      <a href="/events/<%= silver_event.id  %> "><%=silver_event.name  %></a> <br>
      <% end %>
    <% end %> &nbsp; 
      </td>
  </tr>
  <tr>
    <td><img src="/images/bronze-medal-vector-1.jpg" class="table-medal"></td>
    <td><span class="bronze"><%= @nation.nation_bronze_medals.count  %> </span> </td>
      <td><% @nation.athletes.each do |athlete|  %>
      <% athlete.bronze_events.each do |bronze_event|  %>
      <a href="/events/ <%=bronze_event.id  %>"><%=bronze_event.name  %></a> <br>
      <% end %>
    <% end %> &nbsp; 
      </td>
  </tr>
  <tr>
    <td>Points</td>
    <td><%= @nation.nation_points  %></td>
    <td></td>
  </tr>

</table>



<p><a href="/nations/<%= @nation.id  %>/edit " class="basic-link">Edit</a></p>

<p></p>

<form action="/nations/<%= @nation.id  %>/delete" method="post">
  <span class="delete"><input type="submit" value="Delete"></span>
</form>
</div>


<!-- on this page we'll want to call on new methods which will allow us to list the nation's athletes, the events its athletes are taking part in and the medals and points the country has - and later on potentially its ranking. -->


