<div>
<h1><%= @nation.name %></h1>

<img src="<%= @nation.flag %>">

<h2>Athletes:</h2>
<% @nation.athletes.each do |athlete|  %>
<!-- PUT IT SO YOU CAN CLICK ON THE ATHLETE'S NAME AND LINKS TO THEIR PAGES. -->
  <%= athlete.first_name %> <%= athlete.last_name  %> <br>
  <% end %>
<br>
<br>

<p><b>Gold Medals:</b>    <%= @nation.nation_gold_medals.count  %> </p>
<p><b>Silver Medals:</b>    <%= @nation.nation_silver_medals.count  %> </p>
<p><b>Bronze Medals:</b>    <%= @nation.nation_bronze_medals.count  %> </p>

<p><b>Points:</b> <%= @nation.nation_points  %>  </p>

<a href="/nations/<%= @nation.id  %>/edit ">Edit</a>

<p></p>

<form action="/nations/<%= @nation.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</div>


<!-- on this page we'll want to call on new methods which will allow us to list the nation's athletes, the events its athletes are taking part in and the medals and points the country has - and later on potentially its ranking. -->


