<div>
<h2><%= @nation.name %></h2>

<img src="<%= @nation.flag %>" class="flag">

<h3>Athletes:</h3>
<% @nation.athletes.each do |athlete|  %>
<!-- PUT IT SO YOU CAN CLICK ON THE ATHLETE'S NAME AND LINKS TO THEIR PAGES. -->
  <p><a href="/athletes/<%=athlete.id%>"><%= athlete.first_name %> <%= athlete.last_name  %></a></p>
  <% end %>
<br>
<br>

<p><b>Gold Medals:</b>  <span class="gold"><%= @nation.nation_gold_medals.count  %></span> </p>
<p><b>Silver Medals:</b>  <span class="silver"><%= @nation.nation_silver_medals.count  %> </span>  </p>
<p><b>Bronze Medals:</b>  <span class="bronze"><%= @nation.nation_bronze_medals.count  %> </span>  </p><br><br>

<p><b>Points:</b> <%= @nation.nation_points  %>  </p>

<p><a href="/nations/<%= @nation.id  %>/edit ">Edit</a></p>

<p></p>

<form action="/nations/<%= @nation.id  %>/delete" method="post">
  <span class="delete"><input type="submit" value="Delete"></span>
</form>
</div>


<!-- on this page we'll want to call on new methods which will allow us to list the nation's athletes, the events its athletes are taking part in and the medals and points the country has - and later on potentially its ranking. -->


