<h2>Edit athlete</h2>

<form action="/athletes/<%=@athlete.id%> " method="post">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" value="<%= @athlete.first_name %>">  
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" value="<%= @athlete.last_name %>">
  <label for="nation_id">Select a nation:</label>
  <select name="nation_id">
    <% @nations.each do |nation| %>
      <option value="<%= nation.id %>"><%= nation.name %></option>
    <% end %>
  </select>
  
  <input type='submit' value="Update athlete">
</form>