<div class="event-content">
<h2>Edit athlete</h2>

<form action="/athletes/<%=@athlete.id%> " method="post">&nbsp;
  <label for="first_name">First name:</label>&nbsp;
  <input type="text" name="first_name" value="<%= @athlete.first_name %>"> &nbsp;&nbsp;
  <label for="last_name">Last name:</label>&nbsp;
  <input type="text" name="last_name" value="<%= @athlete.last_name %>">&nbsp;&nbsp;
  <label for="nation_id">Select a nation:</label>&nbsp;
  <select name="nation_id">
    <% @nations.each do |nation| %>
    <% if @athlete.nation_id == nation.id %>
    <option value="<%= nation.id %>" selected="selected"><%= nation.name %></option>
    <% else %>
    <option value="<%=nation.id  %> "><%= nation.name  %> </option>
    <% end %>
    <% end %>
  </select>&nbsp; &nbsp; 
  <label for="image">Edit image link:</label>&nbsp;
  <input type="text" name="image" value="<%= "#{@athlete.image}"%>">
  
  
  <input type='submit' value="Update athlete">
</form>
</div>