<div class="athlete-index">

  <% @athletes.each do |athlete| %>
  <br>
  <img src="<%= athlete.nation.flag %>" class="index_flag">
  <a href="/athletes/<%= athlete.id%>" class="athlete-index-name"><%= athlete.first_name %> <%= athlete.last_name %></a>&nbsp;
  <a href="/nations/<%= athlete.nation.id %>" class="athlete-nation"> (<%= athlete.nation.name()  %>)</a><br><br><br><br><br>

  <hr>
  <% end %>
  <br>
  <br>
  

  <a href="/athletes/new" class="basic-link">Add an athlete</a><br>
</div>



