<br>
<br>
<div class="event-content">
<span class="athlete-name"><%= @athlete.first_name %> <%= @athlete.last_name %></span>&nbsp; &nbsp; <span class= "athlete-nation">(<%= @athlete.nation.name %>)</span><br>
<br>
<br>
<img src="<%= @athlete.image  %>" class="athlete-image">


<table class="athlete-table">
  <tr>
    <td><img src="/images/gold-medal-vector.jpg" class="table-medal"></td>
    <td><%=@athlete.gold_medals.count  %></td>
  </tr>  
  <tr>
    <td><img src="/images/silver-medal-vector-1.jpg" class="table-medal"></td>
    <td><%=@athlete.silver_medals.count  %></td>
  </tr>  
  <tr>
    <td><img src="/images/bronze-medal-vector-1.jpg" class="table-medal"></td>
    <td><%=@athlete.bronze_medals.count  %></td>
  </tr>
  <tr>
    <td>Points</td>
    <td><%=@athlete.points  %></td>
  </tr>
</table>

<b>Events:</b><br><br>
<% @athlete.events.each do |event| %> 
<%= event.name %><br><br>
<% end %>
</select>
<br>



<!-- <b>Medals:</b><br><br>
<b>Gold Medals - <%= @athlete.gold_medals.count  %></b><br><br>
<b>Silver Medals - <%= @athlete.silver_medals.count  %></b><br><br>
<b>Bronze Medals - <%= @athlete.bronze_medals.count  %></b><br><br>

<b>Points:</b> <%= @athlete.points %><br><br> -->

<a href="/athletes/<%= @athlete.id  %>/edit ">Edit</a>

<p></p>
<p></p>
<a href="/participations/new ">Enter into an event</a>
<p></p>
<p></p>

<form action="/athletes/<%= @athlete.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</div>