<br>
<br>
<div class="event-content">
<span class="athlete-name"><%= @athlete.first_name %> <%= @athlete.last_name %></span>&nbsp; &nbsp; <span class= "athlete-nation">(<%= @athlete.nation.name %>)</span><br>
<br>
<br>
<img src="<%= @athlete.image  %>" class="athlete-image">


<table class="athlete-table">
  <tr>
    <td><img src="/images/gold-png.png" class="table-medal"></td>
    <td><%=@athlete.gold_medals.count  %></td>
    <td><% @athlete.gold_events.each do |gold_event|  %>
          <a href="/events/<%=gold_event.id %> "><%= gold_event.name  %></a><br> 
          <% end %>
   </td>
  </tr>  
  <tr>
    <td><img src="/images/silver-png.png" class="table-medal"></td>
    <td><%=@athlete.silver_medals.count  %></td>
     <td><% @athlete.silver_events.each do |silver_event|  %>
           <a href="/events/<%=silver_event.id %> "><%= silver_event.name  %></a><br>
           <%end %>
    </td>
  </tr>  
  <tr>
    <td><img src="/images/bronze-png.png" class="table-medal"></td>
    <td><%=@athlete.bronze_medals.count  %></td>
     <td><% @athlete.bronze_events.each do |bronze_event|  %>
           <a href="/events/<%=bronze_event.id %> "><%= bronze_event.name  %></a><br>
           <% end %>
    </td>
  </tr>
  <tr>
    <td>Points</td>
    <td><%=@athlete.points  %></td>
    <td></td>
  </tr>
</table>
<br>
<b class="results">Results:</b><br><br>
<% @athlete.positions.each do |hash|  %>
<b class = "basic-text"> Event: <%= hash['name'] %> -- Position: <%= hash['position']  %></b>
<br>
<br>
<% end %>
<br>
<br>
<br>
<br>

<!-- <b class="basic-text">Non-placing events:</b><br><br>
<%# @athlete.non_placing_events.each do |event| %> 
<a href="/events/<%#= event.id %> "><li><b class="basic-text-smaller"><%#= event.name %></b></li></a><br><br>
<%# end %>
</select>
<br> -->

 

<!-- <b>Medals:</b><br><br>
<b>Gold Medals - <%= @athlete.gold_medals.count  %></b><br><br>
<b>Silver Medals - <%= @athlete.silver_medals.count  %></b><br><br>
<b>Bronze Medals - <%= @athlete.bronze_medals.count  %></b><br><br>

<b>Points:</b> <%= @athlete.points %><br><br> -->

<a href="/athletes/<%= @athlete.id  %>/edit " class="basic-link">Edit</a>

<p></p>
<p></p>
<a href="/participations/new " class="basic-link">Enter into an event</a>
<p></p>
<p></p>

<br>
<br>

<form action="/athletes/<%= @athlete.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

</div>