<h2><%= @athlete.first_name %> <%= @athlete.last_name %></h2><br>

<b>Nation:</b><%= @athlete.nation.name %></p><br>

<b>Events:</b><br>
  <% @athlete.events.each do |event| %> 
  <%= event.name %><br>
  <% end %>
  </select>
<br>

<b>Medals:</b><br><br>
<b>Gold Medals - <%= @athlete.gold_medals.count  %></b><br><br>
<b>Silver Medals - <%= @athlete.silver_medals.count  %></b><br><br>
<b>Bronze Medals - <%= @athlete.bronze_medals.count  %></b><br><br>
  
<b>Points:</b> <%= @athlete.points %><br><br>

<a href="/athletes/<%= @athlete.id  %>/edit ">Edit</a>

<p></p>

<form action="/athletes/<%= @athlete.id  %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</div>